% include('static/templates/head.html')
% include('static/templates/nav.html', title='Index', etsi=False)

  <h1 id="phrase"><a href="/etsi">Et si ?</a></h1>

% include('static/templates/footer.html')

