@font-face {
  font-family: 'Aksidenz';
  src: url('fonts/AkzidenzGroteskBQ-Reg.woff') format('woff'),
       url('fonts/AkzidenzGroteskBQ-Reg.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Aksidenz';
  src: url('fonts/AkzidenzGroteskBQ-Medium.woff') format('woff'),
       url('fonts/AkzidenzGroteskBQ-Medium.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'UnitGrotesk';
  src: url('fonts/Unit-Regular.woff2') format('woff2');
  font-weight: 600;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* background: yellow; */
  font-family: 'Aksidenz', sans-serif;
  font-size: calc(1vw + 10pt);
  font-weight: 400;
  --vert: #00FF08;
}

body {
  /* background: red; */
  padding: 1rem;
  width: 100%;
  height: 100%;
}

/*---------*/
/*  BASE   */
/*---------*/

main {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#phrase {
  font-size: 4rem;
  margin-top: 20vh;
  margin-left: 1rem;
  font-weight: 400;
}

nav {
  color: var(--vert);
  display: flex;
  width: calc(100% - 2rem);
}

nav div {
  z-index: 50;
  position: fixed;
  width: auto;
}

nav a {
  z-index: 9;
  text-decoration: none;
  color: var(--vert);
  display: block;
  line-height: 0.8;
}

a {
  color: black;
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--vert);
}

nav div:nth-of-type(2) {
  right: 1rem;
}

nav div:nth-of-type(1) a:nth-of-type(1) {
  font-weight: 600;
  margin-bottom: .8rem;
  /* background: yellow; */
}

nav div:nth-of-type(1) a:nth-of-type(2) {
  font-family: 'UnitGrotesk';
  transform: scale(2.5);
  margin-left: 1rem;
  color: black;
  /* background: red; */
  line-height: .5;
}

nav div:nth-of-type(1) a:nth-of-type(2):hover {
  color: var(--vert);
}

nav a:hover,
nav a:focus,
nav a:active {
  color: black;
}

/*---------*/
/* CONTACT */
/*---------*/

.contact {
  margin-top: 2rem;
}


/*---------*/
/* CURSOR */
/*---------*/

body, a {
  cursor: none;
}

.curseur {
  pointer-events: none;
  position: fixed;
}

#cursor-base {
  top: -148.5px;
  left: -104px;
}


#cursor-liens {
  left: -182.5px;
  top: -149.5px;
  display: none;
}

/*---------*/
/* CONTENT */
/*---------*/

a[href$=".pdf"] {
  font-family: 'UnitGrotesk';
  text-decoration: underline;
}

div.content {
  position: absolute;
  max-height: 75vh;
  max-width: 75vw;
  display: none;
}

.content img {
  max-height: 75vh;
  max-width: 75vw;
}

div.content{
  padding: .5em;
}

div.content img {
  margin: -.5em;
}

img[id$="header"] {
  cursor: move;
}

/*---------*/
/*ARTISTES */
/*---------*/

#artistes{
  display: flex;
  width: calc(100vw - 2rem);
  height: 100%;
  position: relative;
}

ul {
  /* position: relative; */
  margin-top: 2rem;
  font-size: .9em;
  list-style: none;
  line-height: 1.5;
  width: 30%;

  /* height: 100vh; */
  /* overflow-y: scroll */
}

ul div {
  position: absolute;
  bottom: 0;
  font-size: .7em;
  line-height: 1.2;
  margin-top: 4rem;
  width: 70%;
  width: 25%;
}

ul div p+p {
  margin-top: .5rem;
}

#boulots {
  width: 70%;
  min-height: 38rem;
  /* padding-bottom: 4rem; */
}

#imgs {
  display: flex;
  flex-flow: row wrap;
  gap: .8rem;
  padding-top: 2rem;
}

#imgs img {
  height: 25vh;
  max-width: 100%;
}

#txts {
  margin-top: 2rem;
}

#contact {
  margin-top: 4rem;
}

.active {
  color: var(--vert);
}
