% include('static/templates/head.html')
% include('static/templates/nav.html', title='Et si ?', etsi=False)

% arti = ''

<main id="artistes">
  <ul>
    % for artiste in artistes:
      % if name == artiste[0].replace(' ', '_').lower():
        <li><a class="active" href="/artiste/{{ artiste[0].replace(' ', '_').lower() }}">{{ artiste[0] }}</a></li>

        % arti = artiste

      % else:
        <li><a href="/artiste/{{ artiste[0].replace(' ', '_').lower() }}">{{ artiste[0] }}</a></li>
      % end
    % end

    <div id="credits">
      <p><a target="_blank" href="https://gitlab.com/ham-bistros/ce-devait-etre-un-chat/-/blob/main/etsi.py">Source code Et si&thinsp;?</a></p>
      <p>Développement web: <a target="_blank" href="http://www.thomasbris.space">Thomas Bris</a></p>
      <p>Tous droits réservés.</br>Toute reproduction doit être faite avec l'accord des auteur·ices concerné·es.</p>
    </div>
  </ul>

  <section id="boulots">
    % for type in boulots:
      % if type == "imgs" and boulots["imgs"]:
        <div id="imgs">
          % for img in boulots["imgs"]:
          <img alt="Une image de {{ name.replace('_', ' ').title() }}" src="{{ img }}"/>
          % end
        </div>
      % end

      % if type == "txts" and boulots["txts"]:
        <div id="txts">
          % for txt in boulots["txts"]:
            <p><a href="{{ txt }}" target="_blank">{{ txt.split('/')[-1].replace('.pdf', '.txt') }}<a/></p>
          % end
        </div>
      % end

    % end

    % if arti:
      <div id="contact">

         <p>Contact&thinsp;:
          % for i, a in enumerate(arti[1].split(' ')):
            % if i + 1 == len(arti[1].split(' ')):
              <a href="mailto:{{ a }}">{{ a }}</a>
            % else:
              <a href="mailto:{{ a }}">{{ a }}</a>,

            % end
          % end

         </p>

        % if arti[2]:
          <p>Instagram&thinsp;: <a href="{{ arti[2] }}" target="_blank">@{{ arti[2].replace('https://www.instagram.com/', '').rstrip('/') }}</a></p>
        % end

        % if arti[3]:
      <p>Site&thinsp;: <a href="{{ arti[3] }}" target="_blank">{{ arti[3] }}</a></p>
        % end

      </div>
    % end

  </section>
</main>
% include('static/templates/footer.html')
