
% include('static/templates/head.html')
% include('static/templates/nav.html', title='Index', etsi=False)

      <div class="contact">
        <p>Contact&thinsp;:</p>
        <p><a href="mailto:anouk.jeanningros@gmail.com">Anouk Jeanningros</a></p>
        <p><a href="mailto:lrenou@hotmail.fr">Loïs Renou</a></p>
      </div>

      <div class="contact">
        <p>Diffusé par&thinsp;<a href="https://paon-diffusion.com/" target="_blank">Paon Diffusion</a></p>

      </div>


% include('static/templates/footer.html')
