% include('static/templates/head.html')
% include('static/templates/nav.html', title='Index', etsi=True)


<main>
    <h1 id="phrase">{{ phrase }}</h1>

    % for c in contenu:
      % if c[1][-1] == 'f':
      <div id="{{ c[0] }}" class="content">
        <a href="content/{{ c[0] }}/{{ c[1] }}" target="_blank">{{ c[1].replace('.pdf', '.txt') }}</a>
      </div>
      % else:
      <div id="{{ c[0] }}" class="content">
        <img id="{{ c[0] }}header" alt="{{ c[0] }}" src="content/{{ c[0] }}/{{ c[1] }}">
      </div>
      % end

    % end

    <section id="front">
    </section>
  </main>

 <script src="static/etsi.js" type="text/javascript"></script>

% include('static/templates/footer.html')
