

<img class="curseur" id="cursor-base"  src="../static/curseur/curseur_chat.png"/>
<img class="curseur" id="cursor-liens" src="../static/curseur/curseur_chat_liens.png"/>

<script src="../static/main.js" type="text/javascript"></script>
</body>

</html>
