  <nav>
      <div>
      % if title == 'Index':
      <a id="index" href="/artiste">{{ title }}</a>

      % else:
      <a id="index" href="/etsi">{{ title }}</a>

      % end

        % if etsi:
          <a href="/etsi">∞</a>
        % end
      </div>

      <div>
        <a href="/contact">Où trouver le livre ?</a>
      </div>
  </nav>
